
html {
	background-color: #f6e8e5;
	font-family: 'Roboto', ariel, sans-serif;
}

.cat {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat927.ani), 
	url(http://cur.cursors-4u.net/nature/nat-10/nat927.png), 
	auto !important;}


/*Main Text Section*/

body{
padding: 50px 50px 50px 100px;
}

h1, h2, .drop-cap, .email a{
	font-family: 'Lobster', ariel, sans-serif;
}

iframe{
	padding-top: 200px;
}

.box{
	display: flex;
	flex-wrap: wrap;

}

.drop-cap{
	font-size: 3em;
}

hr{
	border-top: 0.25em solid black;
	text-align: left;
	margin-left: 0;
	margin: 2em 0;
}

h1{
	font-size: 3em;
	padding: 220px 100px;
	width: 300px;
}

h2{
	font-size: 2em;
	padding: 0 0 1em 0;
}

p{
	padding: 0 20px 20px 0;
	line-height: 1.5em;

}

a{
	color: black;
	text-decoration: none;
}

.easter-egg{
	color: #545353;
}

.main{
	display: flex;
	flex-wrap: wrap;
}

.two-columns{
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.padding{
	padding-top: 1em;
}

.mobile-only{
	display:none;
}

/*Example Work Section*/

.examples{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

img{
	width: 350px;
	height: 200px;
	position: absolute;
}

.image{
	margin: 10px 0;
}

.overlay {
  position: relative;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  color: #fff;
  opacity: 0;
}

.overlay:hover{
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}


/*Contact Section*/

.email{
	text-decoration: underline;
}


a:hover{
	color: pink;
}

h3{
	font-size: 0.7em;

}

.this{
	font-weight: bold;
}

/*iPad Media Query - Portrait Orientation*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) and (orientation : portrait) { 

.two-columns{
	max-width: 370px;
}

p{
	margin-right: 20px;
}

h1{
	padding: 0;
}

body{
	padding: 10px 10px 30px 10px;
}

img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

iframe{
	padding-top: 0;
}

.overlay:hover{
  opacity: 0;
}

  .read-more {
    display: none;
  }

  .padding{
  	padding-top: 
  }

    .desktop-only{
	display:none;
}

.mobile-only{
	display:inline;
}

.extra-egg{
	color: #000000;
}

}

/*iPad Media Query - Landscape Orientation*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

.two-columns{
	max-width: 1000px;
}

.examples{
	justify-content: flex-start;
}

p{
	padding: 0;
}

body{
	padding: 10px 10px 30px 10px;
}

img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

iframe{
	padding-top: 0;
}

.overlay:hover{
  opacity: 0;
}

  .read-more {
    display: none;
  }

  .padding{
  	padding-top: 
  }

  .desktop-only{
	display:none;
}

.mobile-only{
	display:inline;
}

.extra-egg{
	color: #000000;
}

}

/*Mobile Media Query*/

@media only screen and (max-width: 768px) {

h1, p, .padding{
	padding: 0;
}

body{
	padding: 10px 10px 30px 10px;
}

img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

iframe{
	padding-top: 0;
}

.desktop-only{
	display:none;
}

.mobile-only{
	display:inline;
}

.overlay:hover{
  opacity: 0;
}

  .read-more {
    display: none;
  }

  .padding{
  	padding-top: 
  }

  .extra-egg{
	color: #000000;
}
}
